<!-- Navbar -->
<nav th:fragment="navbar" class="navbar navbar-expand-md sticky-top navbar-light bg-light">
	<div class="container-fluid padding">
		<a class="navbar-brand" href="#"><img src="../../logos/logo_small.png" />TripPoint - Admin</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</nav>
<!-- Navbar -->